[submodule "docs/references/openstack-folsom-guide"]
	path = docs/references/openstack-folsom-guide
	url = git://github.com/EmilienM/openstack-folsom-guide.git
[submodule "tools/openstack-scripts"]
	path = tools/openstack-scripts
	url = https://github.com/neophilo/openstack-scripts/
[submodule "tools/celery-source"]
	path = tools/celery-source
	url = git://github.com/celery/celery.git
[submodule "tools/celery-examples"]
	path = tools/celery-examples
	url = git://github.com/larsbutler/celery-examples.git
[submodule "tools/flask-source"]
	path = tools/flask-source
	url = git://github.com/mitsuhiko/flask.git
[submodule "tools/rabbitmq-tutorials"]
	path = tools/rabbitmq-tutorials
	url = git://github.com/rabbitmq/rabbitmq-tutorials.git
[submodule "tools/logicielsUbuntu"]
	path = tools/logicielsUbuntu
	url = git://github.com/davidfischer-ch/logicielsUbuntu.git
[submodule "tools/pyutils-source"]
	path = tools/pyutils-source
	url = git://github.com/davidfischer-ch/pyutils.git
