{% if not medias %}

<p>There is currently no media available.</p>

{% else %}

<table class="table table-bordered table-condensed table-striped">
   <thead>
      <tr>
         <th>Title</th>
         <th>Virtual Filename</th>
         <th>File size</th>
         <th>Duration</th>
         <th>Added on</th>
         <th>Added by</th>
         <th>Status</th>
         <th></th>
      </tr>
   </thead>
   <tbody>
      {% for media in medias %}
      {% with status=media.status|default:'UNKNOWN'|upper %}
      <tr>
         <td>{{media.metadata.title}}</td>
         <td>
            {% if status == 'READY' or media == 'PUBLISHED' %}
            <a href="{{ebuio_baseUrl}}medias/force_download/{{media.id}}">{{media.filename|default:"Untitled"}}</a>
            {% else %}
            {{media.filename|default:"Untitled"}}
            {% endif %}
         </td>
         <td>{{media.metadata.size|filesizeformat}}</td>
         <td>{{media.metadata.duration}}</td>
         <td>{{media.metadata.add_date}}</td>
         <td>{{media.metadata.user.name}}</td>
         <td>
            <span class="label {% if status == 'PENDING' %}label-warning{% elif status == 'READY' %}label-success{% elif status != 'UNKNOWN' %}label-inverse{% endif %}">{{status}}</span>
         </td>
         <td>
            {% if ebuio_u.username == media.user.username %}
            {% if status == 'READY' or status == 'PUBLISHED' %}
            <a class="delete" title="{{media.metadata.title}}" href="{{ebuio_baseUrl}}medias/delete/{{media.id}}">
               <button class="btn btn-mini btn-danger">Delete</button>
            </a>
            {% endif %}
            {% endif %}
         </td>
      </tr>
      {% endwith %}
      {% endfor %}
   </tbody>
</table>

{% endif %}

<script type="text/javascript">
$(document).ready(function() { setTimeout(function() { loadMedias(); }, {{refresh_rate}} * 1000); });
</script>
